@import 'tailwindcss';


/* For quick demo i copy pasted my tailwind theme */
@theme {
  --font-sans:
    Lexend, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    'Source Code Pro', SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;

  --color-purple-900: #4e149e;
  --color-purple-800: #6531a9;
  --color-purple-700: #7a4ab4;
  --color-purple-600: #8e63bf;
  --color-purple-500: #a17cca;
  --color-purple-400: #b595d5;
  --color-purple-300: #c7afe0;
  --color-purple-200: #dac9ea;
  --color-purple-100: #ede4f5;

  --color-neutral-800: #161517;
  --color-neutral-700: #2b2a2c;
  --color-neutral-600: #424143;
  --color-neutral-500: #5a595b;
  --color-neutral-400: #737274;
  --color-neutral-300: #8d8d8e;
  --color-neutral-200: #a9a8a9;
  --color-neutral-100: #c5c4c5;

  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: var(--color-purple-900);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: #f7dccb;
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: #97ead2;
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: #2b2a2c;
  --color-neutral-content: oklch(92% 0.004 286.32);

  /** Success colors */
  --color-green-300: #25851e;
  --color-green-200: #42d237;
  --color-green-100: #90e58a;
  --color-success: #25851e;
  --color-success-content: oklch(100% 0 0);

  /** Warning colors */
  --color-yellow-300: #e7d815;
  --color-yellow-200: #f2e970;
  --color-yellow-100: #fbf7ce;
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(0% 0 0);

  /** Danger colors */
  --color-red-300: #f51c11;
  --color-red-200: #f97973;
  --color-red-100: #fdd7d5;
  --color-error: #f51c11;
  --color-error-content: oklch(0% 0 0);

  /** Info colors */
  --color-blue-300: #1d11f5;
  --color-blue-200: #7a73f9;
  --color-blue-100: #d7d5fd;
  --color-info: #1d11f5;
  --color-info-content: oklch(100% 0 0);

  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.1875rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;

  /** semantic */
  --color-body: #161517;
}

.page-container {
  border: 1px solid var(--color-secondary);
  border-radius: 1rem;
  padding: 32px;
}

@layer base {
  html {
    @apply text-neutral-content;
  }

  body {
    @apply bg-body;
    height: 100vh;
  }

  h1 {
    @apply text-4xl font-bold text-purple-700;
  }

  hr {
    @apply border-neutral;
  }
}
